body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}
/* NAV BAR */
.nav-bar {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 100px;
    gap: 40px;

}

.logo {
    display: flex;
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
}

.links-nav {
    display: flex;
    gap: 15px;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

.links {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}



/* HERO SECTION */
.hero-section {
    background-color: #1F2937;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    gap: 40px;
}

.hero-contain {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left within the column */
}

.hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    flex-shrink: 0;
}

.hero-subtext {
    font-size: 18px;
    color: #f9faf8;
    text-align: left;
    margin-bottom: 15px;
    opacity: 0.7;
    display: flex;
    flex-shrink: 0;
}

.sign-up {
    color: white; 
    background-color: #3882f6;
    border: none;
    width: 125px;
    padding: 10px 0 10px;
    font-weight: 550;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 18px;
}

.img-box {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    color: white;
    padding: 0px 0px 0px 0px;
    flex-shrink: 0;
}

#ding_image {
    width: 400px;
    height: auto;
}

/* INFO SECTION */

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info-tag {
    color: black;
    font-size: 36px;
    font-weight: 800;
}

.img-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cube {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-color: white;
    border: 3px solid #3882f6;
    margin: 5px 10px; /* Adjust margin to create spacing between cubes */

}

/* Quote Section */
.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 90px 200px 80px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.person {
    text-align: right;
    font-size: 22px;
    margin-top: 10px;
}

/* Sign up section */
.cta-container {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    margin: 50px 200px;
    padding: 30px 200px;
    gap: 40px;
}

.cta-banner {
   text-align: left;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
}

.button-div {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.cta-button {
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    padding: 6px 15px 6px;
    font-size: 16px;
    font-weight: 700;
    flex-shrink: 0;
}



.cta-title {
    font-size: 20px;
    color: #f9faf8;
    margin-bottom: -10px;
}

.cta-sub {
    font-size: 16px;
    color: #e5e7eb;
    opacity: 0.7;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    padding-top: 20px;
    padding-bottom: 20px;
}

.foot-text {
    opacity: 0.7;
}

@media (max-width: 1200px) {
    .cta-container {
        margin: 50px 150px;
    }

    .cta-container {
        padding: 15px 75px;
    }
}

@media (max-width: 800px) {
    .logo {
        flex-shrink: 0;
    }

    .hero-section {
        padding: 30px;
    }

    .hero-contain {
        display: flex;
    }

    .hero-text {
        font-size: 24px;
    }

    .hero-subtext {
        font-size: 16px;
   
    }

    #ding_image {
        width: 200px;
        height: auto;
        flex: 1;
    }

    .sign-up {
        font-size: 15px;
        padding: 4px;
    }

    .info-tag {
        font-size: 22px;
    }

    .img-content {
        flex-wrap: wrap;
    }

    .quote-section {
        padding: 30px 50px 30px;
    }

    .quote {
        font-size: 22px;
    }

    .person {
        font-size: 18px
    }

    .cta-container {
        margin: 50px 70px;
    }

    .cta-container {
        padding: 15px 40px;
    }
}